---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Catkin'sBlog(伪)";
---

<BaseLayout pageTitle={pageTitle}>
    <ul>
        <li><a href="/posts/post_test1">文章 1</a></li>
    </ul>
</BaseLayout>
