---
import Navigation from "../components/Navigation.astro";
import Menu from "../components/Menu.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<header>
    <nav>
        <dev>
            <ThemeIcon />
            <Menu />
        </dev>

        <Navigation />
    </nav>
</header>

<style>
    div {
        display: flex;
        justify-content: space-between;
    }
</style>
